.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

h1 {
  text-align: center;
}

label, select, input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

p {
  margin-top: 10px;
  text-align: center;
}